uvicorn
python-multipart
tensorflow 
deepface
fastapi
numpy
ollama
openai
openai_whisper
Pillow
psutil
pydantic
pypdf
pytesseract
rake_nltk
Requests
scikit_learn
sumy
transformers
torch
pandas
joblib
textstat
nltk
whisper
pydub
opencv-python
fer
psutil
tf_keras
pynput

APScheduler
PyMuPDF
groq
